/*source and inspiration : https://github.com/sqlhabit/sql_schema_visualizer */
.table {
  background-color: #fff;
  max-width: 250px;
}

.table__name {
  border: 0;
  border-radius: 4px 4px 0 0;
  font-weight: 700;
  padding: 8px;
  position: relative;
  text-align: center;
  background-color: lightblue;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  & > div {
    padding-right: 8px;
  }
}

.table__columns {
  border: 1px solid #cbd2d9;
  border-radius: 0 0 4px 4px;
  border-top: 0
}

.table__description {
  background-color: #fff;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  display: none;
  font-weight: 400;
  padding: 8px;
  position: absolute;
  right: -6px;
  text-align: left;
  top: 50%;
  -webkit-transform: translateX(100%) translateY(-50%);
  transform: translateX(100%) translateY(-50%);
  width: 150px;
  z-index: 1000
}

.table__description:after {
  border: 3px solid transparent;
  border-right-color: #fff;
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%)
}

.table__description:before {
  border: 4px solid transparent;
  border-right-color: #cbd2d9;
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateX(-.5px) translateY(-50%);
  transform: translateX(-.5px) translateY(-50%)
}

.table__description--active {
  display: block
}

.column-name {
  border-bottom: 0;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  padding-inline: 10px;
}

.column-name__name {
  margin-right: 16px;
  display: flex;
  align-items: flex-start;
}

.column-name__type {
  color: #bbb;
  display: flex;
  align-items: flex-start;
}
.column-name__key {
  padding-left: 10px;
  display: flex;
  align-items: flex-start;
}

.column-name__description {
  background-color: #fff;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  display: none;
  padding: 8px;
  position: absolute;
  right: -6px;
  top: 50%;
  -webkit-transform: translateX(100%) translateY(-50%);
  transform: translateX(100%) translateY(-50%);
  width: 150px;
  z-index: 1000
}

.column-name__description:before {
  border: 4px solid transparent;
  border-right-color: #cbd2d9;
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateX(-.5px) translateY(-50%);
  transform: translateX(-.5px) translateY(-50%)
}

.column-name__description:after {
  border: 3px solid transparent;
  border-right-color: #fff;
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%)
}

.key-icon {
  height: 12px;
  margin-right: 4px;
  width: 12px
}

.left-handle {
  left: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%)
}

.left-handle,
.right-handle {
  height: 2px;
  min-width: 2px;
  top: 50%;
  width: 2px
}

.right-handle {
  right: 0;
  -webkit-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%)
}

.column-name__inner {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  position: relative
}

.column-name:last-child {
  border-bottom: 0 !important;
  border-radius: 0 0 4px 4px
}
